   body{
     background: snow;
    }

    header{
     margin: 0%
      padding: 0%

    }

    h1 {
      color: white;
      position: absolute;
      top: 200px;
      left: 50px;
      text-align: left;
      font-family: 'Work Sans', sans-serif;      
      font-size: 70px;
      font-weight: 2px;
      letter-spacing: 15px;
      text-shadow: 2px 2px 5px darkgray; 
    }

    h2 {
      color: white;
      text-shadow: 2px 2px 5px darkgray; 
      position: absolute;
      top: 330px;
      left: 50px;
      text-align: left;
      font-family: 'Work Sans', sans-serif;      
      font-size: 15px;
      font-style: italic;
      letter-spacing: 0px;
      padding-bottom: 70px;
    }
    .video-container {
      height: 320px;
      width:100%;
      padding-bottom: 50px;
      filter: grayscale(1);

      position: relative;
      overflow: hidden;

    }

    .video-container:hover{
      filter: grayscale(0);
      transition:all ease-out 1s;

    }

    video {
      object-fit: cover;
      position: relative;
      top: 0;
      align-self: center;
      width:100%;
      height:100%;
    }

    h3 {
      color: darkgrey;
      top: 460px;
      text-align: center;
      font-family: 'Work Sans', sans-serif;      
      font-size: 15px;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    #cuerpo {
      width:100%;
      padding:.25% 0;
    }
    
    .paint{
      height: 800px;
      margin: 4% 4% 0 4%;
      padding: 1%;
      padding-top: 70px;
      background:black; 
    }

    #first{
    height: 800px;
    width: 30%;
    float: right;

    } 

  #second{
    height: 300px;
    width: 70%;
  }

  #third{

    height: 350px;
    width: 70%;
    margin-top: 2%;
  }

  #fourth{
    background: grey;
    height: 110px;
    width: 70%;
    margin-top: 2%;
  }

  .one{
    height: 25%;
    width: 98%;
  }

  .two{
    height: 70%;
    width:30%;
    margin-top: 2%;
  }

  .three{
    height:70%;
    width: 98%;
    margin-top: 2%;
  }

  .four{
    height: 70%;
    width: 65%;
    margin: 2% 2% 0 0;
    float: right;
  }

  .five{

  }

  .red{
    background: red;
  }

  .blue{
    background:blue;
  }

  .yellow{
    background: gold;
  }

  .white{
    background: white;
  }

  .black{
    background: black;
  }

  article{
    margin-top: 1%;
  }


p{
    font-family: 'Urbanist', sans-serif;
  }

footer{
   height: 200px;
}
